/* roman */
@font-face {
  font-family: "Helvetica Neue Cyr";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roman.woff2") format("woff2"),
    url("../fonts/Roman.woff") format("woff");
}

/* medium */
@font-face {
  font-family: "Helvetica Neue Cyr";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Medium.woff2") format("woff2"),
    url("../fonts/Medium.woff") format("woff");
}

/* bold */
@font-face {
  font-family: "Helvetica Neue Cyr";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Bold.woff2") format("woff2"),
    url("../fonts/Bold.woff") format("woff");
}
